# Data Downloading

This notebook is used to download the data from yahoo finance.

In [3]:
import pandas as pd
import yfinance as yf

In [4]:
### Tickers ###
SP500_TOTAL_RETURN = '^SP500TR'
SPDR_MSCI_WORLD_ACCUMULATING = 'SWRD.L'
VANGUARD_TOTAL_WORLD_STOCK_INDEX = 'VT'
ISHARES_MSCI_USA_MOMENTUM_FACTOR = 'MTUM'
ISHARES_MSCI_GLOBAL_MINVOL_FACTOR = 'ACWV'

In [5]:
# ticker for s&p500 total return index
ticker_symbol = ISHARES_MSCI_GLOBAL_MINVOL_FACTOR
savefile_name = "ISHARES_MSCI_GLOBAL_MINVOL_FACTOR"

# Get the data for the ticker
ticker_data = yf.Ticker(ticker_symbol)

# Define the period for historical data
historical_data = ticker_data.history(period='max') 

display(historical_data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2011-10-20 00:00:00-04:00,37.097594,38.589214,36.986278,38.589214,4700,0.0,0.0,0.0
2011-10-21 00:00:00-04:00,37.654169,37.676431,37.617062,37.617062,3000,0.0,0.0,0.0
2011-10-24 00:00:00-04:00,37.617062,37.617062,37.617062,37.617062,0,0.0,0.0,0.0
2011-10-25 00:00:00-04:00,37.617062,37.617062,37.617062,37.617062,0,0.0,0.0,0.0
2011-10-26 00:00:00-04:00,38.010379,38.062326,37.891644,37.891644,700,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-12-20 00:00:00-05:00,108.699997,109.879997,108.430000,109.300003,249800,0.0,0.0,0.0
2024-12-23 00:00:00-05:00,109.150002,109.550003,108.730003,109.480003,157600,0.0,0.0,0.0
2024-12-24 00:00:00-05:00,109.620003,110.230003,109.370003,110.199997,90900,0.0,0.0,0.0
2024-12-26 00:00:00-05:00,109.760002,110.309998,109.760002,110.290001,119100,0.0,0.0,0.0
2024-12-27 00:00:00-05:00,109.989998,110.349998,109.610001,110.000000,66900,0.0,0.0,0.0

In [6]:
clean_data = (
    historical_data
    .loc[:,['Open', 'High', 'Low', 'Close']]
)

clean_data.index = (
    clean_data.index.strftime('%d-%m-%Y')
)

clean_data = clean_data.reset_index()

clean_data.to_csv(f'../data/{savefile_name}.csv', index=False)

display(clean_data)

            Date        Open        High         Low       Close
0     20-10-2011   37.097594   38.589214   36.986278   38.589214
1     21-10-2011   37.654169   37.676431   37.617062   37.617062
2     24-10-2011   37.617062   37.617062   37.617062   37.617062
3     25-10-2011   37.617062   37.617062   37.617062   37.617062
4     26-10-2011   38.010379   38.062326   37.891644   37.891644
...          ...         ...         ...         ...         ...
3313  20-12-2024  108.699997  109.879997  108.430000  109.300003
3314  23-12-2024  109.150002  109.550003  108.730003  109.480003
3315  24-12-2024  109.620003  110.230003  109.370003  110.199997
3316  26-12-2024  109.760002  110.309998  109.760002  110.290001
3317  27-12-2024  109.989998  110.349998  109.610001  110.000000

[3318 rows x 5 columns]